# Dependencies
node_modules/

# Build output
dist/
out/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables and local secrets
.env
.env.*
*.local

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
.cache/

# compression files
*.zip


*.exe
*.exe
*.exe
dist-test/win-unpacked/RPG汉化工作台-测试版.exe
